.home {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.userManagementWrapper {
  position: absolute;
  top: 0;
  width: 1690px;
  height: 200px;
  margin-left: 5px;
  background: url('../public/background.png');
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: 1;
}
.wrapperHeading {
  position: absolute;
  top: 100px;
  left: 40px;
  color: white;
  z-index: 3;
}
.wrapperHeadingContent {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 2px;
  /* font-size: 12px; */
}
.wrapperHeadingContentRight {
  display: flex;
  flex-direction: row;
  margin: 28px 0 0 28px;
}
.filterSearchWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}
.userTableWrapper {
  width: 1490px;
}

.userTable {
  position: absolute;
  width: 1690px;
  height: 960.89px;
  top: -89.26px;
  z-index: 2;
  background: linear-gradient(
    360deg,
    #1b4247 59.94%,
    rgba(27, 49, 51, 0) 90.6%
  );
  background-blend-mode: normal, multiply, normal;
}
.TableWrapper {
  position: absolute;
  top: 310px;
  border: 1px solid #396870;
  width: 1620px;
  height: 580px;
  left: 35px;
  background-color: white;
}
.tableWrapper {
  display: flex;
  flex-direction: column;
  height: 650px;
  text-align: center;
  /* align-items: center; */
}
.tableHeadingWrapper {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(207, 203, 203);
}
.tableHeading {
  margin: 0 15px 0 15px;
  display: flex;

  height: 70px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    #c2c9d1;
  align-items: center;
  justify-content: space-between;
}
.tableList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  list-style: none;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(231, 225, 225);
}
.tableList ul {
  
  text-align: center;
  align-items: center;

  padding: 0;
  margin: 7px;
}
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.tableContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
